<h2>Follower Users</h2>

<table class="table table-hover table-inverse">
	<thead>
				<tr>
					<th></th>
					<th>Image</th>
					<th>Name</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
             <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
             <tr>
					<td><%= attachment_image_tag(current_user.unfollow, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
					</td>
           
					<td><%= current_user.unfollow.name %></td>

					<td><%= "フォロー数: #{user.follower.count}" %></td>

                    <td><%= "フォロワー数: #{user.followed.count}" %></td>
                    <td><%= link_to "Show", user_path(user), class: "user_#{user.id}" %></td>
             </tr>
            </tbody>
</table>